body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  /* margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

.container{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

header, footer {
  width: 100%;
  text-align: center;
}

main {
  flex: 1;
}

footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}


h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

form {
  margin-bottom: 20px;
}

table {
  width: 150%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #dddddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333333;
}

td {
  background-color: #ffffff;
  color: #555555;
}
