{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div>
        <h1>{{ title }}</h1>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
        <div>
            {{ form.remember }}
            {{ form.remember.label }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>
    
{% endblock %}